input{
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
    margin: 5px;
    background-color: #666666;
}
textarea{
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
    background-color: #666666;
}
input[type=submit]{
    background-color: #7f9bff;
    width: 10% !important;
}
::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}